/**
 * colors
 */
@filler: #EFEFEF;
@header-bg: #C70101;
@social-icon-bg:#BF5858;
 /*
 @indochino-bright: #29abe2;
 @indochino-dark: #808080;
 @indochino-bg: #DFDFDF;
 @bv-bright: #149e7d;
 @bv-dark: #003d4c;
 @bv-bg: #eae9e1;
 @watrhub-bright: #0897bf;
 @watrhub-dark: #023362;
 @watrhub-bg: #e7f3ff;
 */

 @indochino-bright: #EFEFEF;
 @indochino-dark: #EFEFEF;
 @indochino-bg: #EFEFEF;
 @bv-bright: #EFEFEF;
 @bv-dark: #EFEFEF;
 @bv-bg: #EFEFEF;
 @watrhub-bright: #EFEFEF;
 @watrhub-dark: #EFEFEF;
 @watrhub-bg: #EFEFEF;
 @swatch-unpaid:#FFEBB0;
 @swatch-paid:#B0DBFF;

 /* layout */
@tl-content-width: 350px;
@tl-div-bg: #EFEFEF;
@tl-div-top-height: 10px;
@tl-div-bottom-height: 10px;
@tl-date-loc-horiz-offset: -110%;
@tl-arrow-size: 8px;


/**
 * mixins
 */
.title {
    font-weight: 600;
    line-height: 1;
}

.subheading {
    line-height: 1.5;
    font-weight: 600;
    text-transform: uppercase;
}

.nostyle {
    list-style: none;
}

.hide-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    filter: alpha(opacity=0);
}

.lowercase {
    text-transform: lowercase;
}

/**
 * layout
 */
body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}

/**
 * header
 */
.site-header {
    @gradient1: darken(@gradient2, 10%);
    @gradient2: darken(@gradient3, 5%);
    @gradient3: @header-bg;
    @gradient4: @gradient2;

    background: @header-bg;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(top,  @gradient1 0%, @gradient2 15%,  @gradient3 90%, @gradient4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@gradient1), color-stop(15%,@gradient2), color-stop(100%, @gradient3 90%, @gradient4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  @gradient1 0%,@gradient2 15%, @gradient3 90%, @gradient4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  @gradient1 0%,@gradient2 15%, @gradient3 90%, @gradient4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  @gradient1 0%,@gradient2 15%, @gradient3 90%, @gradient4 100%); /* IE10+ */
    background: linear-gradient(to bottom,  @gradient1 0%,@gradient2 15%, @gradient3 90%, @gradient4 100%); /* W3C */

    color: #000000;
}

.site-header-content {
    padding: 30px 0;
}

.site-title {
    .title;
    margin-top: 10px;
    font-size: 50px;
    font-variant: small-caps;
    text-shadow: 1px 1px 1px #6F6F6F;
}

.site-title a:hover {
    color:#191919;
}

.site-subheading {
    .subheading;
    font-size: 18px;
    margin: 5px 0;
}

.site-desc {
    .subheading;
    font-size: 14px;
    font-variant: small-caps;
}

/* personal */
.personal-desc {
    font-size: 15px;
    margin: 20px auto;
    text-align: center;
}

/* social icons */
.social {
    width: 150px;
}

.social > ul > li {
    .rotate-setup(0.2s);
    background-color: saturate(@social-icon-bg, 10%);
    display: inline-block;
    height: 50px;
    margin: 10px 8px 0 0;
    width: 50px;

    &:hover {
        background-color: saturate(@social-icon-bg, 20%);
        .rotate(90deg);
    }
}

.rotate-setup(@dur: 0.8s) {
    -webkit-transition-duration: @dur;
    -moz-transition-duration: @dur;
    -o-transition-duration: @dur;
    transition-duration: @dur;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

    overflow:hidden;
}

.rotate (@deg: 180deg) {
    -webkit-transform:rotate(@deg);
    -moz-transform:rotate(@deg);
    -o-transform:rotate(@deg);
}

.social > ul > li > a {
    display: block;
    height: 100%;
    width: 100%;
    text-indent: -9999px;
}

.social-github {
    background: url(../images/icon-github.png) no-repeat center;
}

.social-twitter {
    background: url(../images/icon-twitter.png) no-repeat center;
}

.social-linkedin {
    background: url(../images/icon-linkedin.png) no-repeat center;
}

.social-resume {
    background: url(../images/icon-resume.svg) no-repeat center;
    background-size: 32px;
}

/* site nav */
.site-nav {
    background-color: #DFDFDF;
    padding: 20px 0;
}

.site-nav > ul > li {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    width: 49.5%;
}

/**
 * body styles
 */
 .body-content {
    padding: 20px 0;
}

/**
 * tl
 */
.tl-container {
    width: ( @tl-content-width * 2 ) + 133px;
}

.tl-legend {
    text-align: center;
    text-transform: uppercase;

    span {
        vertical-align: top;
    }

    .tl-legend-item {
        display: inline-block;
        margin: 0 auto;
        width: 50%;
    }

    .tl-legend-swatch {
        border: 1px solid #EFEFEF;
        display: inline-block;
        height: 15px;
        margin-right: 5px;
        width: 15px;
    }
}

.tl-swatch-unpaid { background-color: @swatch-unpaid; }
.tl-swatch-paid { background-color: @swatch-paid; }

.tl-content-input {
    .hide-input;
}

.tl-content {
    display: block;
    position: relative;
    text-align: center;
    z-index: 2;
    padding: 20px;
    margin-top: @tl-div-top-height + 12px;
    opacity: 0.95;
    width: @tl-content-width;
}

.tl-divider-mixin (@div-bg: @tl-div-bg) {
    background-color: @div-bg;
    height: 100%;
    position: absolute;
    top: 0;
    width: 7px;
    z-index: -1;
}

.tl-divider { .tl-divider-mixin; }

.tl-divider-arrow {
    border-top: @tl-arrow-size solid transparent;
    border-bottom: @tl-arrow-size solid transparent;
    content: '';
    display: block;
    height: 0;
    position:absolute;
    margin-top: (0.5 * @tl-arrow-size);
    top: 40%;
    width: 0;
}

.tl-content-right {
    .tl-content;
    float: right;
    margin-right: auto;
    margin-left: 50%;

    .tl-divider:before {
        .tl-divider-arrow;
        border-left: @tl-arrow-size solid @tl-div-bg;
        margin-left: @tl-arrow-size - 1;
    }

    &:before,
    &:after,
    .tl-divider {
        left: 0;
        margin-left: -30px;
        margin-right: auto;
        right: auto;
    }

    .tl-date-loc {
        float: left;
        text-align: right;
        left: @tl-date-loc-horiz-offset;
    }
}

.tl-content-left {
    .tl-content;
    float: left;
    margin-left: auto;
    margin-right: 50%;

    &:before,
    &:after,
    .tl-divider {
        left: auto;
        margin-left: auto;
        margin-right: -30px;
        right: 0;
    }

    .tl-divider:before {
        .tl-divider-arrow;
        border-right: @tl-arrow-size solid @tl-div-bg;
        margin-left: (-1 * @tl-arrow-size);
    }

    .tl-date-loc {
        float: right;
        text-align: left;
        right: @tl-date-loc-horiz-offset;
    }
}

.tl-content-left:before,
.tl-content-right:before {
    .tl-divider;
    height: @tl-div-top-height;
    margin-top: ( -1 * @tl-div-top-height );
    content: '';
}

.tl-content-left:after,
.tl-content-right:after {
    .tl-divider;
    top: auto;
    bottom: 0;
    height: @tl-div-bottom-height;
    margin-bottom: ( -1 * @tl-div-bottom-height );
    content: '';
}

/* HOVER */
@tl-div-hover-bg: #DFDFDF;

.tl-content-right:hover,
.tl-content-left:hover {
    &:before,
    &:after,
    .tl-divider {
        background-color: @tl-div-hover-bg;
    }
}

.tl-content-left:hover {
    .tl-divider:before {
        border-right: @tl-arrow-size solid @tl-div-hover-bg;
    }
}

.tl-content-right:hover {
    .tl-divider:before {
        border-left: @tl-arrow-size solid @tl-div-hover-bg;
    }
}

/**
 * workexp
 */
.workexp-indochino,
.workexp-bv,
.workexp-watrhub,
.workexp-velocity {
    .tl-swatch-paid;

    &:hover {
        background-color: darken(@swatch-paid, 10%);
    }
}

.workexp-cusec,
.workexp-mathorient,
.workexp-unhold,
.workexp-mathnews {
    .tl-swatch-unpaid;

    &:hover {
        background-color: darken(@swatch-unpaid, 10%);
    }
}

.workexp-date-loc {
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    position: absolute;
    top: 50%;
    margin-top: -24px;
    text-transform: uppercase;
    width: @tl-content-width;
}

.workexp-company-name {
    .title;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 800;
    text-shadow: 1px 1px 1px #EFEFEF;
}

.workexp-job-desc {
    font-size: 14px;
    line-height: 1.5;
    margin: 10px;
    margin-bottom: 0;
}

.workexp-location {
    font-size: 13px;
    margin-top: 10px;
    line-height: 1;
}

.workexp-sample-link {
    font-size: 15px;
    display: block;
    text-decoration: underline;
    padding-top: 10px;
}

/* mathnews */
.mn-math {
    font-style: italic;
    text-transform: lowercase;
}

.mn-news {
    text-transform: uppercase;
    font-weight: 800;
}

footer {
    padding:20px;
}