/**
 * colors
 */
 @filler:#EFEFEF;
 @header-bg:#B80000;
 /*
 @indochino-bright:#29abe2;
 @indochino-dark:#808080;
 @indochino-bg:#DFDFDF;
 @bv-bright:#149e7d;
 @bv-dark:#003d4c;
 @bv-bg:#eae9e1;
 @watrhub-bright:#0897bf;
 @watrhub-dark:#023362;
 @watrhub-bg:#e7f3ff;
 */

 @indochino-bright:#EFEFEF;
 @indochino-dark:#EFEFEF;
 @indochino-bg:#EFEFEF;
 @bv-bright:#EFEFEF;
 @bv-dark:#EFEFEF;
 @bv-bg:#EFEFEF;
 @watrhub-bright:#EFEFEF;
 @watrhub-dark:#EFEFEF;
 @watrhub-bg:#EFEFEF;

 /* layout */
@tl-content-width: 350px;
@tl-div-top-height: 10px;
@tl-div-bottom-height: 10px;
@tl-date-loc-horiz-offset: -110%;

/**
 * mixins
 */
.title {
    font-weight:600;
    line-height:1;
}

.subheading {
    line-height:1.5;
    font-weight:600;
    text-transform:uppercase;
}

.nostyle {
    list-style:none;
}

.hide-input {
    position:absolute;
    z-index:-1;
    opacity:0;
    filter:alpha(opacity=0);
}

.lowercase {
    text-transform:lowercase;
}

/**
 * layout
 */
body {
    font-family:'Josefin Sans', sans-serif;
    font-weight:600;
}

/**
 * header
 */
.site-header {
    background-color:@header-bg;
    background:url(../images/radial-grad-white.png) no-repeat 9% center;
    background-color:#b80000;
    background-size:40% 100%;
    color:#000000;
}

.site-header-content {
    padding:30px 0;
}

.site-title {
    .title;
    margin-top:10px;
    font-size:50px;
    font-variant:small-caps;
    text-shadow:1px 1px 1px #6F6F6F;
}

.site-subheading {
    .subheading;
    font-size:18px;
    margin:5px 0;
}

.site-desc {
    .subheading;
    font-size:14px;
    font-variant:small-caps;
}

/* social icons */
.social {
    width:150px;
}

.social > ul > li {
    background-color:#BF5858;
    display:inline-block;
    height:50px;
    margin:10px 8px 0 0;
    width:50px;
}

.social > ul > li > a {
    display:block;
    height:100%;
    width:100%;
    text-indent:-9999px;
}

.social-github {
    background:url(../images/icon-github.png) no-repeat center;
}

.social-twitter {
    background:url(../images/icon-twitter.png) no-repeat center;
}

.social-linkedin {
    background:url(../images/icon-linkedin.png) no-repeat center;
}

.social-email {
    background:url(../images/icon-email.png) no-repeat center;
}

/* site nav */
.site-nav {
    background-color:#DFDFDF;
    padding:20px 0;
}

.site-nav > ul > li {
    display:inline-block;
    text-align:center;
    text-transform:uppercase;
    width:49.5%;
}

/**
 * body styles
 */
 .body-content {
    padding:20px 0;
}

/**
 * tl
 */
.tl-container {
    width: ( @tl-content-width * 2 ) + 133px;
}

.tl-content {
    display: block;
    position: relative;
    text-align: center;
    z-index: 2;
    padding: 20px;
    margin-top: @tl-div-top-height + 12px;
    opacity: 0.95;
    width: @tl-content-width;
}

.tl-divider {
    background-color:@filler;
    height:100%;
    position:absolute;
    top:0;
    width:7px;
    z-index:-1;
}

.tl-content-right {
    .tl-content;
    float: right;
    margin-right: auto;
    margin-left: 50%;

    &:before,
    &:after,
    .tl-divider {
        left: 0;
        margin-left: -30px;
        margin-right: auto;
        right:auto;
    }

    .tl-date-loc {
        float: left;
        text-align: right;
        left: @tl-date-loc-horiz-offset;
    }
}

.tl-content-left {
    .tl-content;
    float: left;
    margin-left: auto;
    margin-right: 50%;

    &:before,
    &:after,
    .tl-divider {
        left:auto;
        margin-left: auto;
        margin-right: -30px;
        right:0;
    }

    .tl-date-loc {
        float: right;
        text-align: left;
        right: @tl-date-loc-horiz-offset;
    }
}

.tl-content-left:before,
.tl-content-right:before {
    .tl-divider;
    height: @tl-div-top-height;
    margin-top: ( -1 * @tl-div-top-height );
    content:" ";
}

.tl-content-left:after,
.tl-content-right:after {
    .tl-divider;
    top: auto;
    bottom: 0;
    height: @tl-div-bottom-height;
    margin-bottom: ( -1 * @tl-div-bottom-height );
    content:" ";
}

.tl-content-input {
    .hide-input;
}

/**
 * workexp
 */
.tl-content, // temp
.workexp-indochino.tl-content {
    background-color:lighten(@indochino-bright, 0%);
    .tl-divider { background-color:mix(@indochino-dark, @indochino-bright, 30%); }
    &:before, &:after { background-color:@indochino-dark; }
}

/*
.workexp-bv.tl-content {
    background-color:lighten(@bv-bright, 8%);
    .tl-divider { background-color:mix(@bv-dark, @bv-bright, 1%); }
    &:before, &:after { background-color:@bv-dark; }
}

.workexp-watrhub.tl-content {
    background-color:lighten(@watrhub-bright, 3%);
    .tl-divider { background-color:mix(@watrhub-dark, @watrhub-bright, 10%); }
    &:before, &:after { background-color:@watrhub-dark; }
}
*/

.workexp-date-loc {
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    position:absolute;
    top:50%;
    margin-top:-24px;
    text-transform: uppercase;
    width: @tl-content-width;
}

.workexp-company-name {
    .title;
    text-transform:uppercase;
    font-size:15px;
    font-weight:800;
    text-shadow:1px 1px 1px #EFEFEF;
}

.workexp-job-desc {
    font-size:14px;
    line-height:1.5;
    margin:10px;
    margin-bottom:0;
}

.workexp-location {
    font-size: 13px;
    margin-top: 10px;
    line-height: 1;
}

/* mathnews */
.mn-math {
    font-style:italic;
    text-transform:lowercase;
}

.mn-news {
    text-transform:uppercase;
    font-weight:800;
}