/**
 * These are the variables used throughout the application. This is where
 * overwrites that are not specific to components should be maintained.
 */

@import '../bootstrap/less/variables.less';


/**
 * Typography-related.
 */

@sansFontFamily: 'Roboto', sans-serif;
@linkColor: #191919;
@linkColorHover: #4D4D4D;

/**
 * These are variables defined for personal use
 */

/**
 * colors
 */
@header-bg: #C70101;
@social-icon-bg:#BF5858;
@swatch-unpaid:#FFEBB0;
@swatch-paid:#B0DBFF;

 /* layout */
@tl-content-width: 350px;
@tl-content-width-iphone-v: 80px;
@tl-content-width-iphone-h: 160px;
@tl-content-width-ipad: 280px;
@tl-content-width-widescreen: 530px;
@tl-div-bg: #DFDFDF;
@tl-div-bg-hover: #CFCFCF;
@tl-div-top-height: 10px;
@tl-div-bottom-height: 10px;
@tl-date-loc-horiz-offset: -110%;
@tl-date-loc-horiz-offset-iphone-v: -150%;
@tl-arrow-size: 8px;

/* responsive */
@iphone-v: ~"( max-width:479px )";
@iphone-h: ~"( min-width:480px ) and ( max-width:719px )";
@iphone: ~"( max-width:719px )";
@ipad: ~"( min-width:720px ) and ( max-width:960px )";
@widescreen: ~"( min-width: 1260px )";
